.DS_Store
log.html
output.xml
report.html
http://start.sh
*.png
*env/
env*/
.idea/
.vscode/
*.pyc
*.log
*.apks
*.apk
*.ipa
.env
.zip
/app/
env-robot-e2e-regression/
tests/end-to-end/ui/app/
.pabotsuitenames
log/
log_android_pabot/
log_local/
*file.pdf